.anuncios {
    margin-top: 0.5em;
}

.anuncio__conteiner {
    display: grid;
    border-radius: 15px;
}

.anuncio__item{
    display: grid;
    flex-grow: 1;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto (2, 1fr) auto;
    grid-template-areas: 
    "titulo titulo"
    "cidade cidade"
    "descricao descricao"
    "descricao descricao"
    "descricao descricao"
    "preco contato"
    ;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 0.5em;
    padding: 0.5em;
}

.anuncio__item{
    background: var(--background-principal);
}

.anuncio__item a {
    grid-area: titulo;
}

.anuncio__item h6 {
    grid-area: cidade;
}

.anuncio__item p {
    grid-area: descricao;
}

.anuncio__item h3 {
    grid-area: preco;
}

.anuncio__item h4 {
    grid-area: contato;
}

.anuncio__item a {
    color: #000000;
    text-decoration: none;
}

.anuncio__item:nth-child(1){
    grid-column: 1/2;
}

.anuncio__item:nth-child(4){
    grid-column: 2/3;
    grid-row: 2/3;
}

.anuncio__item, .anuncio__item_destaque{
    padding: 0.5em;
}

.anuncio__item_destaque{
    background-color: yellow;
}

.anuncio__titulo{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.anuncio__titulo a{
    text-decoration: none;
}

.anuncio__descricao{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
}

@media screen and (min-width: 492px) {
    .anuncios{
        display: none;
    }
}
