 .banner{
    margin-top: 2.1em;
}

.banner__conteiner{
    display: grid;
}

.banner__img:nth-child(1){
    grid-column: 1/2;
}

.banner__img:nth-child(4){
    grid-column: 2/3;
    grid-row: 2/3;
}

.banner__img{
    height: 67.12px;
    width: 195px;
}

.banner__h2{
    position: absolute;
    color: var(--banco);
    margin: 3%;
    padding-top: 9%;
}

@media screen and (min-width: 834px) {
    .banner{
        display: none;
    }
}