.banner{

    display: none;

}

/* .banner{
    margin-top: 2.1em;
<<<<<<< HEAD
}

.banner__conteiner{
    display: grid;
}

.banner__img:nth-child(1){
    grid-column: 1/2;
}

.banner__img{
    width: 215px;
    height: 74px;
}

.banner__img:nth-child(4){
    grid-column: 2/3;
    grid-row: 2/3;
=======
    display: flex;
    flex-wrap: wrap;
}

.banner__img{
    height: 74px;
    width: 215px;
>>>>>>> cc62f6b4dd05da513bd0152b31cdc2011351242e
}

.banner__h2{
    position: absolute;
    color: var(--banco);
    margin: 3%;
    padding-top: 9%;
}
<<<<<<< HEAD

@media screen and (min-width: 428px) {
    .banner{
        display: none;
    }
}
=======
 */
>>>>>>> cc62f6b4dd05da513bd0152b31cdc2011351242e
