.banner__conteiner {
    display: grid;
    flex-grow: 1;
}

.banner__img:nth-child(1) {
    grid-column: 1/2;
}

.banner__img:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
}

.banner__img {
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 428px) {

    .banner__conteiner {
        display: flex;
        flex-grow: 1;
    }

}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1360px) {


}

@media screen and (min-width: 1920px) {}