@import url("header.css");
@import url("search.css");
@import url("banner.css");
@import url("anuncios.css");
@import url("imagens-anuncios.css");


:root {
    --background-principal: #dfe3ee;
    --blue1: #3b5998;
    --banco: #FFFFFF;
    --fonte-descricao: Lucida Console;
}

body {
    width: auto;
    background-color: var(--banco);
}